@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,700&display=swap");
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-color: #010004;
}

.header {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 120.2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .logo img {
  width: 6rem;
  height: 5.2rem;
  border-radius: 100%;
  background-color: #010004;
  -webkit-box-shadow: 1px 1px 2px rgba(255, 204, 51, 0.5);
          box-shadow: 1px 1px 2px rgba(255, 204, 51, 0.5);
}

.header .logo p {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 204, 51, 0.5);
  text-shadow: 1px 1px 2px rgba(255, 204, 51, 0.5);
}

.header .nav__items {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.header .nav__items .nav__item {
  padding-left: 3.2rem;
}

.header .nav__items .nav__item--login {
  padding-left: 5.6rem;
}

.header .nav__items .nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.8rem;
  -webkit-transition: 0.5s ease color;
  transition: 0.5s ease color;
}

.header .nav__items .nav__link:hover {
  color: #005e32;
  -webkit-transition: 0.5s ease color;
  transition: 0.5s ease color;
}

.header .nav__items .header__btn {
  width: 13rem;
  height: 5.2rem;
  border-radius: 3.2rem;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  border-width: 0px;
  cursor: pointer;
  color: #0d0d2b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav__items .header__btn:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#be9ff8), to(#050b3b));
  background: linear-gradient(#be9ff8, #050b3b);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.info {
  width: 120.2rem;
  height: 46.3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .info__wrap {
  width: 58.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-family: "Rubik";
  background-color: #0d0d2b;
  padding: 2rem;
}

.info .info__wrap .info__text {
  width: 36.5rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3.2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.info .info__wrap .info__text .info__sale {
  width: 11.3rem;
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 150%;
  background: rgba(255, 204, 51, 0.9);
  color: #0d0d2b;
  border-radius: 3.2rem;
}

.info .info__wrap .info__text p {
  width: 22.1rem;
  margin: 0;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.info .info__wrap .info__title {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 7.6rem;
  margin: 2rem 0;
}

.info .info__wrap .info__discription {
  width: 43.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.info .info__wrap .info__btn {
  width: 15.4rem;
  height: 5.9rem;
  border-radius: 3.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  border-width: 0px;
  cursor: pointer;
  color: #0d0d2b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.info .info__wrap .info__btn:hover {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#be9ff8), to(#050b3b));
  background: linear-gradient(#be9ff8, #050b3b);
}

.info .img-blur {
  width: 90rem;
  height: 46rem;
  padding: 2rem;
  position: relative;
  display: inline-block;
}

.info .img-blur:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 20px 20px #0d0d2b;
          box-shadow: inset 0 0 20px 20px #0d0d2b;
}

.statistics {
  width: 120.2rem;
  height: 30.8rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #010004;
}

.statistics .statistics__items {
  width: 120.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics .statistics__items .statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.statistics .statistics__items .statistics__item .statistics-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#005e32), color-stop(#00eebe), to(#005e32));
  background: linear-gradient(#005e32, #00eebe, #005e32);
}

.statistics .statistics__items .statistics__item .statistics-image img {
  width: 5rem;
  height: 5rem;
}

.statistics .statistics__items .statistics__item .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.4rem;
}

.statistics .statistics__items .statistics__item .item__text span {
  font-size: 4rem;
  line-height: 150%;
}

.statistics .statistics__items .statistics__item .item__text p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin: 0;
}

.trade {
  width: 120.2rem;
  height: 45.7rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 10rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trade .trade__item--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Rubik";
}

.trade .trade__item--check h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  margin: 1.8rem;
}

.trade .trade__item--check p {
  width: 55rem;
  font-family: Rubik;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
}

.trade .calck__head {
  width: 94.2rem;
  height: 15.5rem;
  background: #fbfcfe;
  border-radius: 1.6rem 1.6rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik";
  margin-bottom: -1rem;
}

.trade .calck__head .calck__head--input {
  width: 40.3rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  border-style: none;
  border-bottom: 0.1rem solid #e0e0e0;
  font-family: "Rubik";
}

.trade .calck__head .calck__head--select {
  width: 20rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  border-style: none;
  border-bottom: 0.1rem solid #e0e0e0;
  font-family: "Rubik";
}

.trade .calck__head .calck__btn {
  width: 14.6rem;
  height: 5.9rem;
  border-radius: 3.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  border: none;
  color: #0d0d2b;
  font-family: "Rubik";
  font-size: 1.8rem;
  line-height: 150%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.trade .calck__head .calck__btn:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#be9ff8), to(#050b3b));
  background: linear-gradient(#be9ff8, #050b3b);
}

.page__violet {
  width: 120.2rem;
  height: 1600px;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: -2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d0d2b), to(#2b076e));
  background: linear-gradient(180deg, #0d0d2b 0%, #2b076e 100%);
}

.page__violet .page__violet--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__violet .page__violet--items .calck__footer {
  width: 94.2rem;
  height: 20rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 80px 40px #290a64;
          box-shadow: 0px 80px 40px #290a64;
  border-radius: 0 0 1.6rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Rubik";
  font-size: 1.6rem;
  font-weight: 400;
  color: #0d0d2b;
  margin-bottom: 10rem;
}

.page__violet .page__violet--items .calck__footer .calck__footer--title {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671e9;
  padding: 0 4.8rem 1.6rem 4.8rem;
  margin: 0;
}

.page__violet .page__violet--items .calck__footer .calck__footer--total {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #0d0d2b;
  padding: 0 0 0 4.8rem;
  margin: 0;
}

.page__violet .page__violet--items .calck__footer .calck__footer--total span {
  color: #005e32;
}

.page__violet .page__violet--items .calck__footer .calck__footer--discription {
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  color: #828282;
  padding: 0 0 0 4.8rem;
  margin-top: 0;
}

.page__violet .crypto {
  height: 131.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rubik";
}

.page__violet .crypto .crypto__title {
  width: 74.1rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 6.4rem;
  color: #ffffff;
}

.page__violet .crypto .crypto__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__violet .crypto .crypto__items .crypto__item {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27rem;
  height: 43.3rem;
  margin-right: 4.5rem;
  margin-bottom: 4.5rem;
  background: #ffffff;
  border-radius: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page__violet .crypto .crypto__items .crypto__item img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 4.8rem;
}

.page__violet .crypto .crypto__items .crypto__item .image__btn {
  width: 1.2rem;
  height: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

.page__violet .crypto .crypto__items .crypto__item.dogecoin {
  background: #050b3b;
  -webkit-box-shadow: 0px 40px 40px #341f5c;
          box-shadow: 0px 40px 40px #341f5c;
  color: #ffffff;
  opacity: 1;
}

.page__violet .crypto .crypto__items .crypto__item.dogecoin a {
  width: 20.5rem;
  height: 6.4rem;
  border-radius: 3.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  border: none;
  color: #0d0d2b;
  font-family: "Rubik";
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page__violet .crypto .crypto__items .crypto__item.dogecoin a:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#e08e68), to(orange));
  background: linear-gradient(#e08e68, orange);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page__violet .crypto .crypto__items .crypto__item h3 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 150%;
  margin: 0;
}

.page__violet .crypto .crypto__items .crypto__item h3 span {
  font-weight: 500;
  font-size: 1.8rem;
  opacity: 0.7;
  color: #bdbdbd;
  margin-left: 0.8rem;
}

.page__violet .crypto .crypto__items .crypto__item p {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  letter-spacing: 0.01em;
}

.page__violet .crypto .crypto__items .crypto__item button {
  width: 64px;
  height: 64px;
  border: 2px solid rgba(248, 147, 80, 0.2);
  border-radius: 100%;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page__violet .crypto .crypto__items .crypto__item button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #e08e68;
}

.page__violet .crypto .crypto__items .crypto__item:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0px 30px 30px #9f72f3;
          box-shadow: 0px 30px 30px #9f72f3;
}

.mining {
  width: 120.2rem;
  height: 49.2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  background: #010004;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mining .mining__items {
  width: 110rem;
  height: 31.6rem;
  background-image: url(../image/blockchain.jpg);
  -webkit-box-shadow: 0px 15px 15px rgba(255, 204, 51, 0.5);
          box-shadow: 0px 15px 15px rgba(255, 204, 51, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik";
  color: #ffffff;
  font-size: 1.6rem;
}

.mining .mining__items .mining__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -25rem;
}

.mining .mining__items .mining__content .icon-usb {
  width: 25rem;
  height: 25rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mining .mining__items .mining__content .icon-usb:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.mining .mining__items .mining__right {
  width: 15.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5rem;
}

.mining .mining__items .mining__right a {
  width: 15.2rem;
  height: 5.5rem;
  border-radius: 3.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e08e68), to(orange));
  background: linear-gradient(#e08e68, orange);
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0d0d2b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mining .mining__items .mining__right a img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.mining .mining__items .mining__right a span {
  font-weight: 500;
}

.mining .mining__items .mining__right a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0px 10px 10px rgba(255, 204, 51, 0.5);
          box-shadow: 0px 10px 10px rgba(255, 204, 51, 0.5);
}

.mining .mining__items .mining__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mining .mining__items .mining__left h3 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 150%;
  color: #00eebe;
  margin: 0;
}

.mining .mining__items .mining__left p {
  width: 34.8rem;
  height: 5.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
}

.mining .mining__items .mining__left .mining__btn {
  width: 30.2rem;
  height: 6.4rem;
  border-radius: 3.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  border: none;
  color: #0d0d2b;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.mining .mining__items .mining__left .mining__btn:hover {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background: -webkit-gradient(linear, left top, left bottom, from(#be9ff8), to(#050b3b));
  background: linear-gradient(#be9ff8, #050b3b);
  color: #ffffff;
}

.footer {
  width: 120.2rem;
  height: 32rem;
  padding-left: 15rem;
  padding-right: 15rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00eebe), to(#005e32));
  background: linear-gradient(#00eebe, #005e32);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0d0d2b;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1.6rem;
}

.footer .footer__items {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 8rem;
}

.footer .footer__items .footer__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Rubik";
}

.footer .footer__items .footer__item h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer .footer__items .footer__item hr {
  border: 0;
  width: 18rem;
  border-top: 0.2rem solid rgba(255, 204, 51, 0.8);
  margin: 1rem 0;
}

.footer .footer__items .footer__item a {
  text-decoration: none;
  color: #353333;
  font-size: 1.4rem;
  letter-spacing: normal;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer .footer__items .footer__item a:hover {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #ffcc33;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .social p {
  margin: 1.3rem 0;
}

.footer .social .footer__text {
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  margin-top: 3rem;
  margin-bottom: 0;
}

.footer .social__media {
  width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social__media a .footer__icon {
  width: 2rem;
  height: 2rem;
}

.footer .social__media a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */