@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,700&display=swap");

$dark: #0d0d2b;
$white: #ffffff;
$blue: #3671e9;
$blue2: #01a6e6;
$acva: #00bfff;
$green: #00eebe;
$green2: #005e32;
$orange: #e08e68;
$grey: rgba(255, 255, 255, 0.1);
$gold: rgba(255, 204, 51, 0.9);
$violet: #2b076e;
$violet2: #050b3b;
$background: #010004;
$font-size-1: 1.6rem;
$green-gradient: linear-gradient(#00eebe, #005e32);
$violet-gradient: linear-gradient(#be9ff8, #050b3b);
$light-gradient: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
$violet2-gradient: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
$orange-gradient: linear-gradient(#e08e68, orange);

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-color: $background;
}

.header {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 120.2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      width: 6rem;
      height: 5.2rem;
      border-radius: 100%;
      background-color: $background;
      box-shadow: 1px 1px 2px rgba(255, 204, 51, 0.5);
    }

    p {
      font-size: 3rem;
      font-weight: 600;
      color: rgba(255, 204, 51, 0.5);
      text-shadow: 1px 1px 2px rgba(255, 204, 51, 0.5);
    }
  }

  .nav__items {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

    .nav__item {
      padding-left: 3.2rem;
    }

    .nav__item--login {
      padding-left: 5.6rem;
    }
    .nav__link {
      color: $white;
      text-decoration: none;
      font-size: $font-size-1;
      line-height: 2.8rem;
      transition: 0.5s ease color;
    }

    .nav__link:hover {
      color: $green2;
      transition: 0.5s ease color;
    }
    .header__btn {
      width: 13rem;
      height: 5.2rem;
      border-radius: 3.2rem;
      font-family: "Rubik";
      font-weight: 500;
      font-size: $font-size-1;
      line-height: 150%;
      border-width: 0px;
      cursor: pointer;
      color: $dark;
      background: $green-gradient;
      transition: all 0.5s ease;
    }
    .header__btn:hover {
      color: $white;
      background: $violet-gradient;
      transition: all 0.5s ease;
    }
  }
}

.info {
  width: 120.2rem;
  height: 46.3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info__wrap {
    width: 58.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $white;
    font-family: "Rubik";
    background-color: $dark;
   
    padding: 2rem;
   

    .info__text {
      width: 36.5rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 3.2rem;
      font-weight: 500;
      font-size: $font-size-1;

      .info__sale {
        width: 11.3rem;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 150%;
        background: $gold;
        color: $dark;
        border-radius: 3.2rem;
      }

      p {
        width: 22.1rem;
        margin: 0;
        color: $white;
        font-size: 1.4rem;
        line-height: 2.8rem;
      }
    }
    .info__title {
      font-weight: 700;
      font-size: 5.2rem;
      line-height: 7.6rem;
      margin: 2rem 0;
    }

    .info__discription {
      width: 43.5rem;
      font-size: $font-size-1;
      font-weight: 400;
      margin: 0;
    }

    .info__btn {
      width: 15.4rem;
      height: 5.9rem;
      border-radius: 3.2rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      border-width: 0px;
      cursor: pointer;
      color: $dark;
      background: $green-gradient;
      transition: all 0.5s ease;
    }
    .info__btn:hover {
      color: $white;
      transition: all 0.5s ease;
      background: $violet-gradient;
    }
  }

  .img-blur {
    width: 90rem;
    height: 46rem;
    padding: 2rem;
    position: relative;
    display: inline-block;
  }
  .img-blur:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px 20px $dark;
  }
}

.statistics {
  width: 120.2rem;
  height: 30.8rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  background-color: $background;

  .statistics__items {
    width: 120.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .statistics__item {
      display: flex;
      color: $white;

      .statistics-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background: linear-gradient(#005e32, #00eebe, #005e32);
        img {
          width: 5rem;
          height: 5rem;
        }
      }

      .item__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2.4rem;

        span {
          font-size: 4rem;
          line-height: 150%;
        }
        p {
          font-size: $font-size-1;
          line-height: 2.8rem;
          margin: 0;
        }
      }
    }
  }
}

.trade {
  width: 120.2rem;
  height: 45.7rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 10rem;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .trade__item--check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: "Rubik";

    h2 {
      font-weight: 700;
      font-size: 4rem;
      line-height: 150%;
      text-align: center;
      margin: 1.8rem;
    }

    p {
      width: 55rem;
      font-family: Rubik;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 150%;
      text-align: center;
    }
  }

  .calck__head {
    width: 94.2rem;
    height: 15.5rem;
    background: #fbfcfe;
    border-radius: 1.6rem 1.6rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Rubik";
    margin-bottom: -1rem;

    .calck__head--input {
      width: 40.3rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
      border-style: none;
      border-bottom: 0.1rem solid #e0e0e0;
      font-family: "Rubik";
    }

    .calck__head--select {
      width: 20rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
      border-style: none;
      border-bottom: 0.1rem solid #e0e0e0;
      font-family: "Rubik";
    }

    .calck__btn {
      width: 14.6rem;
      height: 5.9rem;
      border-radius: 3.2rem;
      background: $green-gradient;
      border: none;
      color: $dark;
      font-family: "Rubik";
      font-size: 1.8rem;
      line-height: 150%;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .calck__btn:hover {
      transition: all 0.5s ease;
      color: $white;
      background: $violet-gradient;
    }
  }
}

.page__violet {
  width: 120.2rem;
  height: 1600px;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-bottom: -2rem;
  background: linear-gradient(180deg, #0d0d2b 0%, #2b076e 100%);
  .page__violet--items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .calck__footer {
      width: 94.2rem;
      height: 20rem;
      background: $white;
      box-shadow: 0px 80px 40px #290a64;
      border-radius: 0 0 1.6rem 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-family: "Rubik";
      font-size: $font-size-1;
      font-weight: 400;
      color: $dark;
      margin-bottom: 10rem;

      .calck__footer--title {
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $blue;
        padding: 0 4.8rem 1.6rem 4.8rem;
        margin: 0;
      }

      .calck__footer--total {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: $dark;
        padding: 0 0 0 4.8rem;
        margin: 0;
        span {
          color: $green2;
        }
      }

      .calck__footer--discription {
        line-height: 2.8rem;
        letter-spacing: 0.01em;
        color: #828282;
        padding: 0 0 0 4.8rem;
        margin-top: 0;
      }
    }
  }

  .crypto {
    height: 131.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik";

    .crypto__title {
      width: 74.1rem;
      font-weight: 700;
      font-size: 4rem;
      line-height: 150%;
      text-align: center;
      margin-bottom: 6.4rem;
      color: $white;
    }

    .crypto__items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .crypto__item {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 27rem;
        height: 43.3rem;
        margin-right: 4.5rem;
        margin-bottom: 4.5rem;
        background: $white;
        border-radius: 16px;
        font-weight: 400;
        font-size: $font-size-1;
        opacity: 0.9;
        transition: all 0.5s ease;

        img {
          width: 8rem;
          height: 8rem;
          margin-bottom: 4.8rem;
        }

        .image__btn {
          width: 1.2rem;
          height: 2rem;
          margin-bottom: 0;
          cursor: pointer;
        }
        &.dogecoin {
          background: $violet2;
          box-shadow: 0px 40px 40px #341f5c;
          color: $white;
          opacity: 1;

          a {
            width: 20.5rem;
            height: 6.4rem;
            border-radius: 3.2rem;
            background: $green-gradient;
            border: none;
            color: $dark;
            font-family: "Rubik";
            font-size: 1.8rem;
            line-height: 150%;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.5s ease;
          }
          a:hover {
            color: $white;
            background: $orange-gradient;
            transition: all 0.5s ease;
          }
        }

        h3 {
          font-weight: 700;
          font-size: 3.2rem;
          line-height: 150%;
          margin: 0;
          span {
            font-weight: 500;
            font-size: 1.8rem;
            opacity: 0.7;
            color: #bdbdbd;
            margin-left: 0.8rem;
          }
        }
        p {
          padding-left: 2.4rem;
          padding-right: 2.4rem;
          line-height: 2.8rem;
          text-align: center;
          letter-spacing: 0.01em;
        }

        button {
          width: 64px;
          height: 64px;
          border: 2px solid rgba(248, 147, 80, 0.2);
          border-radius: 100%;
          background: $white;
          transition: all 0.5s ease;
          cursor: pointer;
        }
        button:hover {
          transition: all 0.5s ease;
          background: $orange;
        }
      }
      .crypto__item:hover {
        transition: all 0.5s ease;
        opacity: 1;
        transform: translateY(-1rem);
        box-shadow: 0px 30px 30px #9f72f3;
      }
    }
  }
}

.mining {
  width: 120.2rem;
  height: 49.2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;

  .mining__items {
    width: 110rem;
    height: 31.6rem;
    background-image: url(../image/blockchain.jpg);
    box-shadow: 0px 15px 15px rgba(255, 204, 51, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Rubik";
    color: $white;
    font-size: $font-size-1;

    .mining__content {
      display: flex;
      flex-direction: row;
      margin-left: -25rem;

      .icon-usb {
        width: 25rem;
        height: 25rem;
        transition: all 0.5s ease;
      }
      .icon-usb:hover {
        transition: all 0.5s ease;
        transform: translateX(40px);
      }
    }

    .mining__right {
      width: 15.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 5rem;

      a {
        width: 15.2rem;
        height: 5.5rem;
        border-radius: 3.2rem;
        background: $orange-gradient;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark;
        transition: all 0.5s ease;

        img {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
        span {
          font-weight: 500;
        }
      }

      a:hover {
        transition: all 0.5s ease;
        transform: translateY(-1rem);
        box-shadow: 0px 10px 10px rgba(255, 204, 51, 0.5);
      }
    }

    .mining__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      h3 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 150%;
        color: $green;
        margin: 0;
      }
      p {
        width: 34.8rem;
        height: 5.6rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0.01em;
      }
      .mining__btn {
        width: 30.2rem;
        height: 6.4rem;
        border-radius: 3.2rem;
        background: $green-gradient;
        border: none;
        color: $dark;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        cursor: pointer;
        transition: 0.5s ease all;
      }
      .mining__btn:hover {
        transition: 0.5s ease all;
        background: $violet-gradient;
        color: $white;
      }
    }
  }
}

.footer {
  width: 120.2rem;
  height: 32rem;
  padding-left: 15rem;
  padding-right: 15rem;
  background: $green-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;
  font-family: "Rubik";
  font-weight: 400;
  font-size: $font-size-1;

  .footer__items {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 8rem;

    .footer__item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "Rubik";

      h3 {
        margin: 0;
        font-size: $font-size-1;
        font-weight: 400;
        text-transform: uppercase;
      }
      hr {
        border: 0;
        width: 18rem;
        border-top: 0.2rem solid rgba(255, 204, 51, 0.8);
        margin: 1rem 0;
      }

      a {
        text-decoration: none;
        color: #353333;
        font-size: 1.4rem;
        letter-spacing: normal;
        line-height: 1.5;
        margin-bottom: 0.8rem;
        cursor: pointer;
        transition: color 0.2s ease;
      }

      a:hover {
        transition: color 0.2s ease;
        color: rgb(255, 204, 51);
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;

    p {
      margin: 1.3rem 0;
    }

    .footer__text {
      line-height: 2.8rem;
      letter-spacing: 0.01em;
      margin-top: 3rem;
      margin-bottom: 0;
    }
  }
  .social__media {
    width: 28rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      .footer__icon {
        width: 2rem;
        height: 2rem;
      }
    }
    a:hover {
      opacity: 1;
    }
  }
}
